# Multi Class Classification with PyTorch and Custom NN

In [2]:
# iris dataset (well known and used in ml)
# classification problem with 4 features, 3 classes and 150 data

# features are numericals, with output class 
# given petal and sepal length, width predict the class 

# Create a NN that outputs 3 probability distribution

# The dataset can be easily loaded from sklearn 
from sklearn.datasets import load_iris

import torch
import torch.nn as nn
import torch.optim as optim 
import pandas as pd 
import numpy as np 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [5]:
iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
df['target'] = iris.target # add also the class label

df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [ ]:
# split dataset 
# use stratify to specify the criterion of split 
train_test_split(df, test_size=0.2, random_state=42, stratify=df['target']) # based on what 
# 7 min