# Sets

In [1]:
# Built-in data types: (to store collection of unique items)
# unordered, unique (not duplicate elements)... 
# Interesting for membership tests, mathematical set operations (union, intersection, ...)

# Create a set
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [1]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [2]:
my_set = set([1, 2, 3, 4, 5]) # type casting from list 
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set = set([1, 2, 3, 4, 5, 4, 5, 6, 1]) # type casting from list 
print(my_set)
# duplicated element are not executed 
# + Not ordered (doesn't follow a specific order)

{1, 2, 3, 4, 5, 6}

In [4]:
# Basics sets operations
# Adding and removing elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set.add(7)
print(my_set) # Ignored

{1, 2, 3, 4, 5, 6, 7}

In [6]:
# Remove the elements 
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.remove(10)
# KEY ERROR... Not this specific element..

KeyError: 10

In [ ]:
# How to handle error ? 
my_set.discard(10)

# The discard method remove only if it is in the set

In [10]:
# pop method remove a FIFO element ! 
print(my_set)
removed_element = my_set.pop()
print(removed_element)
print(my_set)

{2, 4, 5, 6, 7}
2
{4, 5, 6, 7}

In [11]:
# Clear elements
my_set.clear()
print(my_set)

set()

In [12]:
# EXAMPLE Set membership test
# check if an element is a member of a set 
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
# Mathematical operations
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

# Using in-built method
# Union 
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# Intersection
intersect_set = set1.intersection(set2)
print(intersect_set)

{4, 5, 6}

In [ ]:
# Intersection update
print(set1)
print(set2)

set1.intersection_update(set2)
print(set1)
# it does intersection in place ... update in set1 the result of intersection

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

# Difference
difference_set = set1.difference(set2)
print(difference_set)

# in place
set1.difference_update(set2)
print(set1)

{1, 2, 3}
{1, 2, 3}

In [21]:
set1 = {1, 2, 3, 4, 5, 6}
set2.difference(set1)

{7, 8, 9}

In [ ]:
# Symmetric difference 
set1.symmetric_difference(set2)
# save unique element in both, skipping common one !

{1, 2, 3, 7, 8, 9}

In [ ]:
# Sets method 
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# is subset (check if all elements of set1 are also in set2... set2 is parent of set1?)
print(set1.issubset(set2))

False

In [24]:
# Sets method 
set1 = {3, 4}
set2 = {3, 4, 5}

# is subset (check if all elements of set1 are also in set2... set2 is parent of set1?)
print(set1.issubset(set2))

True

In [26]:
# Superset (if all elements of set2 are in set1 ... opposite of subset)
print(set1.issuperset(set2))

set3 = {1, 2, 3, 4, 5, 6}
print(set3.issuperset(set2))

False
True

In [28]:
lst = [1, 2, 2, 3, 4, 4, 5]
# How to quickly remove duplicate?
list(set(lst))

[1, 2, 3, 4, 5]

In [30]:
# Counting unique words in text 
text = "In this sets tutorial we are discussing about sets"
words = text.split()

# convert list of words to set, to get unique words 
unique_words = set(words)

print(unique_words)
print(len(unique_words))

{'we', 'about', 'tutorial', 'In', 'discussing', 'this', 'sets', 'are'}
8