# Variables in Python

In [1]:
# Variable store data, in python doesn't require explicit declaration 
a = 100

In [3]:
## Declaring and assigning variables 
age = 25
height = 175
name = "Ale"
is_student = True

print("age: ", age)
print("Height: ", height)
print("Name: ", name)

age:  25
Height:  175
Name:  Ale

In [ ]:
## Naming convention 
# How should we name a variable ? 
# 1. Should be descriptive
# 2. They must always start with a leter or an '_' and contain letter,numbers and underscores (inside)
# 3. Names are case sensitive !

# Valid variables name 
first_name = "Ale"
last_name = "Puglisi"

In [7]:
# Invalid variables name
#2age = 24
#first-name = "Ale"
# ... NOT starting with @,/,?,... etc

In [9]:
## Understanding Variable types 
# Python is dynamically typed = variables' name is determined at runtime 
age = 24          # int
height = 6.1      # float
name = "Ale"      # str
is_student = True # bool 

print(type(name))

<class 'str'>

In [10]:
## Type checking and Conversion
type(height)

float

In [ ]:
# How to convert data types 
age = 24
print(type(age))

# Type conversion (int -> str) 
age_str = str(age) # convert age to str
print(age_str)
print(type(age_str))

<class 'int'>
24
<class 'str'>

In [13]:
# Different types of conversion
age = "25"
age_int = int(age)
print(type(age_int))

<class 'int'>

In [ ]:
# But clearly some conversion is not possible 
name = "Ale"
#name_int = int(name)
# ERROR ... invalid

ValueError: invalid literal for int() with base 10: 'Ale'

In [16]:
height = 1.72
type(height)

float

In [ ]:
#Conersion float to int is possible 
int(height)

1

In [ ]:
# Reconversio to float 
float(int(height))

1.0

In [21]:
## Dynamic Typing
var = 10 
print(var, type(var))

# It is allowed to change varibale type as the program is executed 
var = "Hello"
print(var, type(var))

# You can keep changing it !
var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [23]:
## Input handling 
age = input("What is your age ?")
# What is the default from input ? 
print(age, type(age))

24 <class 'str'>

In [24]:
# Type casting 
age = int(input("What is your age ?"))
# What is the default from input now ? 
print(age, type(age))

24 <class 'int'>

In [25]:
## Simple calculator 
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
diff = num1 - num2
prod = num1 * num2
quot = num1 / num2

print("Sum: ", sum)
print("Difference: ", diff)
print("Product: ", prod)
print("Quotient: ", quot)

Sum:  6.6
Difference:  1.4
Product:  10.4
Quotient:  1.5384615384615383